{% extends 'base.html.twig' %}
{% block after_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block body %}
    <br><br><br><br><br><br><br><br><br>


{# {% trans %}
    Hola, %name% como estas?
{% endtrans %} #}

<div class="container">
    {{form_start(form)}}
    {{form_errors(form) }}
    {{form_widget(form)}}
    {{form_end(form)}} 
</div>

    {% block cards %}
    {% endblock %}

    {% block javascripts %}    	
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        <script type="text/javascript">
            $(".tags").select2({
              tags: true
            });        
        </script>
        <!--<script type="text/javascript">
            $('#buscar').on('click',function(){
                console.log("buscando");
                url="/buscar/".concat(document.getElementById("tituloLibro").value);
                console.log(url);
                window.location.replace(url);
            });
        </script> -->       
    {% endblock %}

{% endblock %}
